body {
    background-image: url(images/cat.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: antiquewhite;
    min-height: 100vh;
}

.content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}